<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id ="mySql" class="com.project.db.MySqlConnection"></bean>
	<bean id ="oracle" class="com.project.db.OracleConnection"></bean>
	
	<bean id ="mySqlConnection" class="com.project.db.CustomerManager">
	<constructor-arg ref="mySql" /></bean>
	
	<bean id ="oracleConnection" class="com.project.db.CustomerManager">
	<constructor-arg ref="oracle" /></bean>
</beans>
