<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id ="DbConnectionXML" class = "com.project.db.DbConnection">
		<property name="url" value="mySql:8080"></property>
		<property name="username" value ="Samet Çavur"></property>
		<property name="password"  value="1234"></property>
	</bean>
	

</beans>
