<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id ="db" class="com.project.db.Database" abstract ="true">
	<property name="username"  value="UNLornekXML"></property>
	<property name="password"  value="PasswordornekXML"></property>
	<property name="liste">
	 <list>
	 <value>eleman1 </value>
	 <value>eleman2 </value>
	 <value>eleman3 </value>
	 </list>
	</property>
	</bean>
	
	<bean id ="mySql" class="com.project.db.Database" parent="db">
	<property name="url"  value="Mysql"></property>
	<property name="liste">
	<list merge="true">
	<value>mySql elemanı</value>
	</list>
	</property>
	</bean>
	
	<bean id ="oracle" class="com.project.db.Database" parent="db">
	<property name="url"  value="Oracle"></property>
	<property name="liste">
	<list merge="true">
	<value>oracle elemanı</value>
	</list>
	</property>
	</bean>
	
	<bean id ="connection" class="com.project.db.DBConnection">
	<property name="database" ref="oracle"></property>
	</bean>

</beans>
