<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id = "db" class= "com.project.db.Database">
	<property name="url" value="mySqlDatabase"></property>
	<property name="username" value="mySql"></property>
	<property name="password" value = "11123"></property>
	</bean>


	<bean id = "DbConnection" class="com.project.db.DbConnection">
	<property name="database" ref="db"></property>
	</bean>
</beans>
